@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --background: #fffcd3;
  --backgroundForeground: #222222;
  --primary: #eecfd4;
  --primaryForeground: #222222;
  --secondary: #222222;
  --secondaryForeground: #eecfd4;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0%;
}